<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--雪花ID生成器-->
	<bean id="idWorker" class="com.qingcheng.util.IdWorker">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="1"></constructor-arg>
	</bean>

	<!--es 连接工厂-->
	<bean id="restHighLevelClient" class="com.qingcheng.service.impl.RestClientFactory"
		 factory-method="getRestHighLevelClient">
	</bean>

</beans>
