<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--包扫描-->
    <context:component-scan base-package="com.qingcheng" />
    <!--雪花ID生成器-->
    <bean id="idWorker" class="com.qingcheng.util.IdWorker">
        <constructor-arg index="0" value="2"></constructor-arg>
        <constructor-arg index="1" value="2"></constructor-arg>
    </bean>


    <dubbo:annotation package="com.qingcheng.consumer" />
    <dubbo:consumer check="false" retries="0" timeout="8000"/>
</beans>